{% if guest.status == 'Undangan siap' %}
<span class="badge bg-info mb-2"
  ><i class="bi bi-folder me-1"></i> {{ guest.status }}</span
>
{% elif guest.status == 'Tamu akan hadir' %}
<span class="badge bg-primary mb-2"
  ><i class="bi bi-star me-1"></i> {{ guest.status }}</span
>
{% elif guest.status == 'Tamu tidak bisa hadir' %}
<span class="badge bg-warning mb-2"
  ><i class="bi bi-exclamation-octagon me-1"></i> {{ guest.status }}</span
>
{% elif guest.status == 'Tamu telah hadir' %}
<span class="badge bg-success mb-2"
  ><i class="bi bi-check-circle me-1"></i> {{ guest.status }}</span
>
{% else %}
<span class="badge bg-danger mb-2"
  ><i class="bi bi-x-circle me-1"></i> Tamu tidak hadir</span
>
{% endif %}
